<div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="padding-top: 10px;">
                        <img src="img/gitstore64.png" style="height: 40px;">
                    </a>
                    <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 50px;">
                        GitStore
                    </a>
                </div>
                <!--<div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control input-lg" placeholder="Search">
                    </form>
                </div>-->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div data-bind="if: !name()">
                <list></list>
            </div>
            <div data-bind="if: name">
                <view></view>
            </div>
        </div>
    </div>
</div>
