<div>
    <create params="{ onUpdate: load }"></create>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hash</th>
                <th>Latest&nbsp;Author</th>
                <th>Latest&nbsp;Date</th>
                <th>Latest&nbsp;Subject</th>
<!--                 <th>URI</th> -->
            </tr>
        </thead>
        <tbody data-bind="foreach: list">
            <tr>
                <td data-bind="text: $data.name"></td>
                <td data-bind="text: $data.info.hash.substr(0, 6)" class="monospace"></td>
                <td data-bind="text: $data.info.author" class="nowrap"></td>
                <td data-bind="text: $data.info.date" class="nowrap"></td>
                <td data-bind="text: $data.info.subject" class="monospace"></td>
<!--                 <td data-bind="text: $data.uri" class="monospace"></td> -->
            </tr>
        </tbody>
    </table>
</div>
